{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	<style>
		.imagee {
    		float: left;
    		width:  340px;
    		height: 340px;
    		object-fit: cover;
		}
		.point-1 {
  			text-align: center;
		}

		.img__wrap {
			position: relative;
  			display: inline-block;
		}

		.img__description_layer {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(2, 9, 51, 0.6);
			color: #fff;
			visibility: hidden;
			opacity: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			
			font-family: helvetica, arial, sans-serif;
			font-size: 40px;

			/* transition effect. not necessary */
			transition: opacity .2s, visibility .2s;
		}

		.img__wrap:hover .img__description_layer {
			visibility: visible;
			opacity: 1;
		}

		.img__description {
			transition: .2s;
			transform: translateY(1em);
			text-align: center;
		}

		.img__wrap:hover .img__description {
			transform: translateY(0);
		}

		#textt{
			font-family: helvetica, arial, sans-serif;
			font-size: 20px;
			font-weight: bold;
		}

		.faces {
			border-radius: 50%;
			width:  200px;
    		height: 200px;
		}

		.textEdit{
			font-family: helvetica, arial, sans-serif;
			font-size: 17px;
			font-weight: bold;
		}
	</style>
	
	<title>PrintStudio</title>

	<link rel="apple-touch-icon" sizes="76x76" href={% static 'images/apple-touch-icon.png' %}>
	<link rel="icon" type="image/png" sizes="32x32" href={% static 'images/favicon-32x32.png' %}>
	<link rel="icon" type="image/png" sizes="16x16" href={% static 'images/favicon-16x16.png' %}>
	<link rel="manifest" href={% static 'images/site.webmanifest' %}>
	<link rel="mask-icon" href={% static 'images/safari-pinned-tab.svg' %} color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
	<link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href={% static 'css/bootstrap-theme.css' %} media="screen" >
	<link rel="stylesheet" href={% static 'css/main.css' %}>

</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href={% url 'home' %}><img src={% static 'images/logo.png' %} ></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Home</a></li>
					<li><a href={% url 'contactForm' %}>Contact</a></li>
					{% if request.user.is_authenticated %}
						<li><a href={% url 'order' %}>Make an order</a></li>
						<li><a class="btn" href={% url 'logout' %}>LOG OUT</a></li>
					{% else %}
						<li><a href={% url 'login' %}>Make an order</a></li>
						<li><a class="btn" href={% url 'login' %}>SIGN IN / SIGN UP</a></li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead"></h1>
				</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">SERVICES</h2>
		<br><br>
		<h5>
            Permanent investment and monitoring of technological development, in the area we cover with our products and services, have provided us with large production capacities, and with additional training of staff, and with highly educated professionals, we guarantee top product quality.
            <br/><br/>
            Quality, professionalism and responsibility towards consumers and associates are values that have always been an integral part of the company's business policy and which have created trust in products and services.
            <br/><br/>
            If you want top, quality and fast service, contact us!
            <br/><br/>
          </h5>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container point-1">
			
			<h3 class="text-center thin">WHAT WE OFFER</h3>
			
			<div class="row">
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/brochure.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">BROCHURE</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/catalogue.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">CATALOGUE</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/invitation.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">INVITATION</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/posters.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">POSTERS</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/stickers.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">STICKERS</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/vizitke.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">BUSSINES CARDS</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/tshirt.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">T-SHIRT</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/mug.png' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">MUG</p>
						  </div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight point-1">
					<div class="h-caption img__wrap">
						<img class="imagee" src={% static 'images/books.jpg' %} alt="..."/>
						<div class="img__description_layer">
							<p class="img__description">BOOKS</p>
						  </div>
					</div>
					
				</div>

			</div> <!-- /row  -->
		
		</div>
		
	</div>
	<!-- /Highlights -->

	<div class="container text-center">
		<br> <br>
		
		<br/>
      	<h4 id="textt">If you want to print your document without coming to the address, it is possible to send us a file via the page. After your order is finished, we will inform you by phone and you will be able to pick up your order directly from us.
        <br/>
        <br/>
        For this action you need to have an account created and log in. After logging in on your profile page, under the MAKE AN ORDER field, there is a form that needs to be filled out.
      </h4>
	  <br>
	  <br>
	  <form action={% url 'login' %}>
		<button class="btn btn-action" type="submit">Sign in</button>
	</form>
	
	</div>

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Our Team</h2>
		<br>

		<div class="row">
			<div class="col-sm-6 point-1">
				<img class="faces" src={% static 'images/amilaH.jpg' %} alt="..."/>
				<h4 class="textEdit">
					Amila Hrustić
				  </h4>
				  <br>
				
				  <CardBody>
					<p>
					  Hard work always pays out.
					</p>
				  </CardBody>
				</div>
			<div class="col-sm-6 point-1">
				<img class="faces" src={% static 'images/amilaL.jpg' %} alt="..."/>
					<p >
				<h4  class="textEdit">
					Amila Laković
				  </h4>
				  <br>
				 
				  <CardBody>
					<p>
					  I just keep googling stuff and it keeps working.
					</p>
				  </CardBody>
				</div>
		</div> <!-- /row -->
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6 point-1">
				<img class="faces" src={% static 'images/samra.jpg' %} alt="..."/>
				<h4  class="textEdit">
					Samra Mujčinović
				  </h4>
				  <br>
				 
				  <CardBody>
					<p>
					Meme enthusiast.
					</p>
				  </CardBody>
			</div>
			<div class="col-sm-6 point-1">
				<img class="faces" src={% static 'images/emir.jpg' %} alt="..."/>
				<h4 class="textEdit">
					Emir Pita
				  </h4>
				  <br>
				  
				  <CardBody>
					<p>
					 To go forward, you must backup.
					</p>
				  </CardBody>
				</div>
		</div> <!-- /row -->

		<br>
		<br>
		<br>
		<div class="point-1">
			<iframe width="750" height="500" src="https://www.youtube.com/embed/eDbKS6pIsPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+387 33 750 231<br>
								<a href="mailto:#">printstudioapp.ppis@gmail.com</a><br>
								<br>
								Zmaja od Bosne bb, Sarajevo, 71000
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href={% url 'contactForm' %}>Contact</a> |
								<b><a href={% url 'register' %}>Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src={% static 'js/headroom.min.js' %}></script>
	<script src={% static 'js/jQuery.headroom.min.js' %}></script>
	<script src={% static 'js/template.js' %}></script>
</body>
</html>